main .aside{
    background: #cecece;
    height: 500px;
}
main .home{
    padding-top: 20px;
}

.container-body {
 
    padding: 20px 120px;
    /* display: flex; */
}

@media only screen and (max-width: 600px) {
    .container-body {
      /* background-color: lightblue; */
      padding: 20px 16px;
    }
}