<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<nav>    
    <!-- <div class="container">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-9">
                <div class="hero__search__form">
                    <form action="#">
                        <input type="text" placeholder="What do you need?" #t>
                        <button type="submit" class="site-btn" (click)="search(t)">SEARCH</button>
                    </form>
                </div>
            </div>
        </div>
    </div> -->
    
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a routerLink="/"><img src="assets/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li (click)="select('/admin')" [ngClass]="{active: isActive('/admin')}"><a routerLink="/admin">HOME</a></li>
                        <li (click)="select('/admin/caetgory')" [ngClass]="{active: isActive('/admin/category')}"><a routerLink="/admin/category">CATEGORY</a></li>
                        <li (click)="select('/admin/product')" [ngClass]="{active: isActive('/admin/product')}"><a routerLink="/admin/product">PRODUCT</a></li>
                        <li (click)="select('/admin/user')" [ngClass]="{active: isActive('/admin/user')}"><a routerLink="/admin/user">USER</a></li>
                        <!-- <li (click)="select('/lien-he')" [ngClass]="{active: isActive('/lien-he')}"><a routerLink="/lien-he">CONTACT</a></li>
                        <li [ngClass]="{active: isActiveGroup()}"><a href="#" style=" pointer-events: none;">PAGES</a>
                            <ul class="header__menu__dropdown">
                                <li (click)="select('/tin-tuc')" [ngClass]="{active: isActive('/tin-tuc')}"><a routerLink="/tin-tuc" >NEWS</a></li>
                                <li (click)="select('/thong-tin-thanh-vien')" [ngClass]="{active: isActive('/thong-tin-thanh-vien')}"><a routerLink="/thong-tin-thanh-vien">MEMBER INFO</a></li>
                            </ul>
                        </li> -->
                    </ul>
                </nav>
            </div>
            <!-- <div class="col-lg-3">
                <div class="header__cart">
                    <ul>
                        <li><a routerLink="/cart-like-list"><i class="fa fa-heart"></i> <span>{{count_like | async}}</span></a></li>&nbsp;
                        <li><a routerLink="/gio-hang"><i class="fa fa-shopping-bag"></i> <span>{{count_cart | async}}</span></a></li>
                    </ul>
                    <div class="header__cart__price">item: <span>$150.00</span></div>
                </div>
            </div> -->
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</nav>
