.row .products .products__img {
    height: 250px;
    display: flex;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
    align-items: center;
    justify-content: center;
	transition: transform .2s; /* Animation */
}
.row .products .products__img:hover {
	transform: scale(1.05);
}

.row .products .img-fluid{
    max-height: 250px;
}

/* start template */

.product__item {
	margin-bottom: 50px;
}

.product__item:hover .product__item__pic .product__item__pic__hover {
	bottom: 20px;
}

.product__item__pic {
	height: 270px;
	position: relative;
	overflow: hidden;
	padding: 10px;
}

.product__item__pic__hover {
	position: absolute;
	left: 0;
	bottom: -50px;
	width: 100%;
	text-align: center;
	-webkit-transition: all, 0.5s;
	-moz-transition: all, 0.5s;
	-ms-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
	padding-left: 0;
	margin-bottom: 0;
}

.product__item__pic__hover li {
	list-style: none;
	display: inline-block;
	margin-right: 6px;
}

.product__item__pic__hover li:last-child {
	margin-right: 0;
}

.product__item__pic__hover li:hover a {
	background: #7fad39;
	border-color: #7fad39;
	cursor: pointer;
}

.product__item__pic__hover li:hover a i {
	color: #ffffff;
	transform: rotate(360deg);
}

.product__item__pic__hover li a {
	font-size: 16px;
	color: #1c1c1c;
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	border: 1px solid #ebebeb;
	background: #ffffff;
	display: block;
	border-radius: 50%;
	-webkit-transition: all, 0.5s;
	-moz-transition: all, 0.5s;
	-ms-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
}

.product__item__pic__hover li a i {
	position: relative;
	transform: rotate(0);
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.product__item__text {
	text-align: center;
	padding: 15px 0;
	background-color: #e3fdf5;
	min-height: 105px;
}

.product__item__text:hover h3{
	color: #95ce3f;
}

.product__item__text:hover h5{
	color: #868686;
}

.product__item__text h6 {
	margin-bottom: 10px;
}

.product__item__text h6 a {
	color: #252525;
}

.product__item__text h3 {
	margin-bottom: 0;
	font-weight: 600;
	font-style: italic;
	color: #7fad39;
}

/* .product__item__text h3:hover {
	color: #95ce3f;
} */

.product__item__text h5 {
	color: #616161;
	font-weight: 700;
	font-style: italic;
	margin-bottom: 0;
}

/* .product__item__text h5:hover {
	color: #868686;
} */

/* end template */