<!-- <p>Giá trị token: {{ localst }}</p> -->
<div class="blog__details__text__content">
    <img src="assets/blog/details/detail-blog2.jpg">
</div>
<div style="height: 683px;">
    <div class="col-lg-8 col-md-7 order-md-1 order-1" style="position: relative; left: 180px; top: 120px;">
        <div class="blog__details__text">
            <h2>Thông Tin</h2>
        </div>
        <div class="blog__details__content">
            <div class="row">
                <div class="col-lg-6">
                    <div class="blog__details__author">
                        <div class="blog__details__author__pic">
                            <img src="/assets/blog/details/details-author.jpg" alt="">
                        </div>
                        <div class="blog__details__author__text">
                            <h6>{{inforUser.role}}</h6>
                            <span>{{inforUser.username}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="blog__details__widget">
                        <ul>
                            <li><span>Email:</span> {{inforUser.email}}</li>
                            <li><span>Phone:</span> {{inforUser.phone}}</li>
                        </ul>
                        <div class="blog__details__social">
                            <a><i (click)="clickIcon('fa-facebook')" class="fa fa-facebook"></i></a>
                            <!-- <a><i class="fa fa-twitter"></i></a>
                            <a><i class="fa fa-google-plus"></i></a>
                            <a><i class="fa fa-linkedin"></i></a> -->
                            <a><i (click)="clickIcon('fa-envelope')"  class="fa fa-envelope"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>